/*  Stylesheet by Joe Villegas (joev@uw.edu). "It's totally in Alpha!" - Joe V. */

[id='masthead-mobile'] {
    display: none;
}

body h1 {
    font-size: 30px;
}

header {
    text-align: center;
    background: skyblue;
}

header ul {
    display: grid;
    max-width: 800px;
    grid-auto-flow: column;
    align-items: center;
    margin: auto;

    grid-template: none;
    list-style: none;
}

header li {
    grid-row: 1;
    max-width: fit-content;
}

header a {
    color: black;
}

.top-bar {
    width: fit-content;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
}

.image-showcase {
    padding-left: 0;
}

img {
    max-height: -webkit-fill-available;
    max-width: fit-content;
}

iframe {
    max-width: -webkit-fill-available;
    max-height: 400px;
}

[id='page-footer'] {
    margin: auto;
    text-align: center;
}

[id='navbar'] {
    background-color: rgb(189, 189, 189);
}

.site-footer {
    background-color: rgba(0, 197, 131, 0.658);
    display: inline-flex;
}

.site-footer * {
    margin-left: 20px;
    margin-right: 20px;

    text-align: center;
}

.site-footer .logo {
    max-height: 80px;
    align-self: center;

    max-width: 100%;
    margin: auto;
}

main {
    max-width: 800px;
    padding: 0 0 auto;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*  GRID OF FOUR  */
.span_4_of_4 {
    width: 100%;
}

.span_3_of_4 {
    width: 74.6%;
}

.span_2_of_4 {
    width: 49.2%;
}

.span_1_of_4 {
    width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    header .header-bg.site-branding {
        text-align: left;
        display: inline-flex;
        width: 100%;
    }

    header ul {
        display: grid;
    }

    .main-navigation {
        display: none;
    }

    .main-navigation ul {
        padding: 10px;
    }

    .image-showcase {
        padding-left: 5px;
        padding-right: 5px;
        justify-items: center;
    }

    .top-bar {
        display: inline-flex;
        width: 100%;
        flex-direction: row;
    }

    .col {
        margin: 1% 0 1% 0%;
    }

    .btn {
        text-align: center;
    }

    .img {
        max-block-size: -webkit-fill-available;
    }

    .widget.widget-lg {
        width: 100% !important;
        text-align: center !important;
    }

    main {
        max-width: 100%;
        margin: 10px;
        text-align: center;
    }

    p {
        margin: 25px;
        text-align: center;
    }

    [id='masthead-mobile'] {
        display: unset;
    }

    [id='masthead'] {
        display: none;
    }

    .widget-area {
        display: none;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    ul {
        padding-left: 5px;
        padding-right: 5px;
    }

    .span_1_of_4,
    .span_2_of_4,
    .span_3_of_4,
    .span_4_of_4 {
        width: 100%;
    }

    .burger.container {
        margin: auto;
        width: unset;
        display: inline-block;
        cursor: pointer;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: unset !important;
        margin-left: auto !important;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}